<div class="container">
  <div class="row booking">
    <div class="col l9">
      <%= render "content" %>
    </div>
    <div class="col l3" id="passengers">
      <h5>Payment</h5>
      
      <div class="row">
        <div class="col l5 bold">Total Amount</div>
        <div class="col l7">NGN <%= @booking.flight.price %> / passenger</div>
      </div>
      <div class="row">
        <div class="col l5 bold">
          <%= link_to "Close", "#", class: "btn grey" %>
        </div>
        <div class="col l7">
          <%= link_to "Print", "#", class: "btn" %>
        </div>
      </div>

    </div>
  </div>
</div>