<div class="row">
  <form>
    <div class="col l4">
      <!-- <div class="home-input-label">From</div> -->
      <select name="from" class="home-input">
        <option>From</option>
        <option value="lagos">Lagos, Murtala Muhammed International Airport, LOS</option>
        <option value="lagos">Enugu, Murtala Muhammed International Airport, LOS</option>
        <option value="lagos">Abuja, Murtala Muhammed International Airport, LOS</option>
      </select>
    </div>
    <div class="col l4">
      <!-- <div>To</div> -->
      <select name="to" class="home-input">
        <option class="home-input-label">To</option>
        <option value="lagos">Enugu, Murtala Muhammed International Airport, LOS</option>
        <option value="lagos">Abuja, Murtala Muhammed International Airport, LOS</option>
        <option value="lagos">Lagos, Murtala Muhammed International Airport, LOS</option>
      </select>
    </div>
    <div class="col l2">
      <!-- <div class="home-input-label">Travel Date</div> -->
      <input type="date" name="date" placeholder="Travel Date" class="datepicker home-input">
    </div>
    <div class="col l1">
      <!-- <div class="home-input-label">Travelers</div> -->
      <select name="number_of_passengers" class="home-input">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <div class="col l1">
      <button type="submit" class="btn"><i class="material-icons up-left-rotate">send</i></button>
    </div>
  </form>
</div>