<div class="home-body">
  <div class="container">
    <div class="search-form-section">
      <%= render "search_form" %>
    </div>
  </div>
  <div class="container">
    <div class="flight-board">
      <h5>Flight Time Board</h5>
      <div id="flight-time-board">
        <%= render @flight %>
      </div>
    </div>
  </div>
</div>
