<div class="container">
  <div class="search-form-section">
    <%= render "search_form" %>
  </div>
</div>
<div class="container">
  <div class="flight-board">
    <h5>Flight Time Board</h5>
    <table class="bordered">
      <thead>
        <tr>
          <th colspan="2">Airline</th>
          <th>From</th>
          <th>To</th>
          <th>Departure</th>
          <th>Arrival</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Img</td>
          <td>Aero Contractors</td>
          <td>Murtala Muhammed International Airport, LOS</td>
          <td>Nnamdi Azikiwe International Airport, ABJ</td>
          <td>4-12-2015 09:10</td>
          <td>4-12-2015 10:10</td>
        </tr>
        <tr>
          <td>Img</td>
          <td>Air Peace</td>
          <td>Nnamdi Azikiwe International Airport, ABJ</td>
          <td>Murtala Muhammed International Airport, LOS</td>
          <td>4-12-2015 09:10</td>
          <td>4-12-2015 10:10</td>
        </tr>
        <tr>
          <td>Img</td>
          <td>Allied Air</td>
          <td>Murtala Muhammed International Airport, LOS</td>
          <td>Nnamdi Azikiwe International Airport, ABJ</td>
          <td>4-12-2015 09:10</td>
          <td>4-12-2015 10:10</td>
        </tr>
        <tr>
          <td>Img</td>
          <td>Arik Air</td>
          <td>Nnamdi Azikiwe International Airport, ABJ</td>
          <td>Murtala Muhammed International Airport, LOS</td>
          <td>4-12-2015 09:10</td>
          <td>4-12-2015 10:10</td>
        </tr>
        <tr>
          <td>Img</td>
          <td>Associated Aviation</td>
          <td>Murtala Muhammed International Airport, LOS</td>
          <td>Nnamdi Azikiwe International Airport, ABJ</td>
          <td>4-12-2015 09:10</td>
          <td>4-12-2015 10:10</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
