$my-grey: #acacac;

.booking {
  margin: 2em 0;
}

#passengers {
  padding: 0 2em;
  // border-top: 0.1em solid $my-grey;
}

.passenger-div {
  margin: 0.5em 0.1em;
  padding: 1em;
  // border-top: 0.1em solid $my-grey;
}
