// Style for will pagination
$white: #ffffff;
$colour1: #999999;
$colour2: #dddddd;
$colour3: #2e6ab1;
$colour4: #105cb6;
$colour5: #9aafe5;
$colour6: #000033;

.digg-pagination {
  background: $white;
  cursor: default;

  a,
  span,
  em {
    display: block;
    float: left;
    margin-right: 1px;
    padding: 0.2em 0.5em;
  }

  .disabled {
    border: 1px solid $colour2;
    color: $colour1;
  }

  .current {
    background: $colour3;
    border: 1px solid $colour3;
    color: $white;
    font-style: normal;
    font-weight: bold;
  }

  a {
    border: 1px solid $colour5;
    color: $colour4;
    text-decoration: none;

    &:hover,
    &:focus {
      border-color: $colour6;
      color: $colour6;
    }
  }

  .page_info {
    background: $colour3;
    color: $white;
    margin-bottom: 0.3em;
    padding: 0.4em 0.6em;
    text-align: center;
    width: 22em;

    b {
      background: $colour3 + 60;
      color: $colour6;
      padding: 0.1em 0.25em;
    }
  }
  /* self-clearing method: */
  &:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
  }

  * html & {
    height: 1%;
  }

  *:first-child+html & {
    overflow: hidden;
  }
}

.paging {
  margin: 1em;
}

/*
.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;

  a, span {
    padding: 0.2em 0.3em;
  }

  .disabled {
    color: #aaaaaa;
  }

  .current {
    font-style: normal;
    font-weight: bold;
    background-color: darken(#f1f1f1, 20);
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba($white, .8) 1px 1px 1px;
  }

  a {
    text-decoration: none;
    color: black;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;

  a, span, em {
    padding: 0.2em 0.5em;
  }

  .disabled {
    color: #aaaaaa;
  }

  .current{
    font-style: normal;
    font-weight: bold;
    color: #ff0084;
  }

  a {
    border: 1px solid $colour2;
    color: #0063dc;
    text-decoration: none;

    &:hover, &:focus {
      border-color: #003366;
      background: #0063dc;
      color: $white;
    }
  }

  .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
  }

  .previous_page, .next_page {
    border-width: 2px;
  }

  .previous_page {
    margin-right: 1em;
  }

  .next_page {
    margin-left: 1em;
  }
}
*/
