<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l8 s6">
        <h5 class="white-text">Let's fly -</h5>
        <p class="grey-text text-lighten-4">...is an online flight booking service. We are partnered with 2768 nigerian airlines and all the 402 airports across the country. We get real time information from the immigration office. The security bodies in Nigeria are our source of confidence. We have got you covered man... Nothing more to worry.</p>
      </div>
      <div class="col l3 offset-l1 s6">
        <h5 class="white-text">Our Social</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/science2">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="https://twitter.com/EmmanuelScience">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="https://plus.google.com/109595750984826808317/posts/p/pub">Google+</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Pinterest</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright black">
    <div class="container">
    © 2015 Copyright - <a href="http://andela.com">Andela</a>
    <a class="grey-text text-lighten-4 right" href="https://github.com/andela-echigbo/">EmmanuelScience</a>
    </div>
  </div>
</footer>
    