<div class="navbar-fixed">
  <nav class="teal darken-3">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Let's fly</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down top-nav">
          <li><a href="#!">All Flight</a></li>
          <li><a href="#!" class="btn auth-btn">signin</a></li>
          <li><a href="#!" class="btn auth-btn">signup</a></li>
          <!-- <li><a href="mobile.html">Mobile</a></li> -->
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="#!">All flight</a></li>
          <li><a href="#!">signin</a></li>
          <li><a href="#!">sginup</a></li>
          <!-- <li><a href="mobile.html">Mobile</a></li> -->
        </ul>
      </div>
    </div>
  </nav>
</div>
